{% extends "base.html" %}

{% load static %}
 

  <title>{% block title %} پیمانکاری جاوید {% endblock title %}</title>

  {% block meta %}
  <meta name="description" content="پیمانکاری گودبرداری جاوید با بیش از 20 سال سابقه در عرصه‌ی ساخت و ساز و گودبرداری، از تجربه و تخصص فنی بالایی برخوردار است که به ارائه خدمات با کیفیت و قابل اعتماد کمک می‌کند " >
  <meta name="keywords" content=" خاک برداری  , پیمانکاری جاوید , گود برداری , خاکبرداری  ">
  {% endblock meta%}

{% block main %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">به وبسایت پیمانکاری جاوید خوش آمدید</h2>
          <p class="animate__animated animate__fadeInUp">پیمانکاری ما با سابقه‌ای بیش از دو دهه در حوزه‌ی پیمانکاری و گودبرداری، به عنوان یکی از پیشگامان این صنعت در منطقه، به ارائه خدمات بی‌نظیری در زمینه‌های مختلف این حوزه می‌پردازد. با توجه به تجربه، تخصص و تجهیزات مدرن ما، مشتریان می‌توانند به اطمینان کامل از انجام کارهایشان با کیفیت بالا و به موقع اعتماد کنند.</p>
          <a href="#" class="btn-get-started rtl-btn-get-started animate__animated animate__fadeInUp">بیشتر بخوانید</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">خدمات خود را به ما بسپارید</h2>
          <p class="animate__animated animate__fadeInUp">با تمرکز بر کیفیت، ایمنی و رضایت مشتریان، پیمانکاری ما به عنوان یکی از برترین انتخاب‌ها در زمینه‌ی پیمانکاری و گودبرداری شناخته می‌شود. از انتخاب ما برای پروژه‌های خود اطمینان حاصل کنید، تا با همکاری ما به اهدافتان برسید.</p>
          <a href="#" class="btn-get-started rtl-btn-get-started animate__animated animate__fadeInUp">بیشتر بخوانید</a>
        </div>
      </div>

      

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="#">گود برداری و حفاری</a></h4>
              <p class="description">با استفاده از تجهیزات حرفه‌ای و تخصص فنی، ما قادر به انجام عملیات گودبرداری و حفاری در انواع زمین‌شناسی‌ها و شرایط مختلف آب و هوایی هستیم. این شامل حفاری برای ساخت و سازهای عمیق، پایه‌گذاری‌های بنیادی، و حفر چاه‌های آب و گاز می‌شود.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="#">پیمانکاری عمومی</a></h4>
              <p class="description">ما ارائه خدمات پیمانکاری عمومی در زمینه‌های مختلف ساختمانی، از جمله ساخت و سازهای مسکونی، تجاری و صنعتی را فراهم می‌کنیم. با تکیه بر تیم متخصص و تجربه در انجام پروژه‌های متنوع، ما به ارائه خدمات با کیفیت و به موقع متعهد هستیم.</p>
            </div>
          </div>

          

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="#">قراردادهای شخصی‌سازی شده</a></h4>
              <p class="description">ما همیشه سعی می‌کنیم تا بهترین پیشنهادات را برای نیازهای خاص و منحصربه‌فرد مشتریانمان ارائه دهیم. قراردادهایی با شرایط انعطاف‌پذیر و شفافیت بالا را ارائه می‌دهیم تا همواره بهترین خدمات را به شما ارائه دهیم.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>ویژگی ها</h2>
          <p>پیمانکاری گودبرداری "جاوید" با بیش از 20 سال سابقه در عرصه‌ی ساخت و ساز و گودبرداری، از تجربه و تخصص فنی بالایی برخوردار است که به ارائه خدمات با کیفیت و قابل اعتماد کمک می‌کند </p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static "img/truck2.jpg" %}" class="img-fluid rounded" alt="پیمانکاری جاوید">
          </div>
          <div class="col-md-7 pt-4">
            
            <p class="fst-italic">
               پیمانکاری گودبرداری "جاوید" با بیش از 20 سال سابقه در عرصه‌ی ساخت و ساز و گودبرداری، از تجربه و تخصص فنی بالایی برخوردار است که به ارائه خدمات با کیفیت و قابل اعتماد کمک می‌کند.  
            </p>
            <ul>
              <li><i class="bi bi-check"></i>احترام به محیط زیست و ایمنی</li>
              <li><i class="bi bi-check"></i> استفاده از تجهیزات مدرن</li>
              <li><i class="bi bi-check"></i> تنوع خدمات </li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static "img/truck1.jpeg" %}" class="img-fluid rounded" alt="پیمانکاری جاوید">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>رضایت مندی مشتریان</h3>
            <p class="fst-italic">
              اولویت اصلی پیمانکاری "جاوید"، رضایت مشتریان است. با توجه به اهمیت این مسئله، این پیمانکاری تلاش می‌کند تا از طریق ارائه خدمات با کیفیت و به موقع، نیازهای مشتریان را به‌صورت کامل برآورده کند تیم کاری "جاوید" از مهندسین، کارشناسان و کارگران مجرب و متعهد تشکیل شده است که با دانش فنی و تجربه عملی، به ارائه خدمات با کیفیت بالا متعهدند.
            </p>

          </div>

        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static "img/truck3.jpg" %}" class="img-fluid rounded" alt="پیمانکاری جاوید">
          </div>
          <div class="col-md-7 pt-5">
            <h3>در پیمانکاری جاوید چک لیست کار ها بررسی می شود</h3>

            <p>این چک لیست به عنوان یک راهنمای کلی می‌تواند به مدیران و کارکنان پیمانکاری گودبرداری "جاوید" کمک کند تا فعالیت‌های خود را با دقت و بهره‌وری بیشتری انجام دهند.</p>
            
            <ul>
              <li><i class="bi bi-check"></i>بررسی تجهیزات و ماشین‌آلات</li>
              <li><i class="bi bi-check"></i> بررسی ایمنی </li>
              <li><i class="bi bi-check"></i> بررسی کنترل کیفیت </li>
              <li><i class="bi bi-check"></i> بررسی برنامه کاری</li>
            </ul>

          </div>
        </div>

      </div>

      

      
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  {% endblock main %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

