 <!-- ======= Footer ======= -->
 <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>
 <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">


    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>صفحات پرکابرد</h4>
            <ul>
              <li><i class="bx bx-chevron-left"></i> <a href="{% url "home:main" %}">خانه</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="{% url "home:about_us" %}">درباره ما</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="{% url "home:services" %}">خدمات ما</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="{% url "blog:articles" %}"> وبلاگ </a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>خدمات ما</h4>
            <ul>
              <li><i class="bx bx-chevron-left"></i> <a href="#">بازرسی و کنترل کیفیت</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">پیمانکاری عمومی</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#"> گود برداری و حفاری</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">اجرای پروژه‌ با استفاده از تجهیزات مدرن</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>تماس با ما</h4>
            <p>
              کرج   <br>
              میدان نبوت <br>
              خیابان ابوذر شمالی نبش کوچه عمار, <br> پیمانکاری جاوید <br>
              <strong>تلفن : </strong>09121612124<br>
              
              
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>درباره ما</h3>
            <p>  پیمانکاری "جاوید" یک پیمانکاری با تجربه و معتبر در حوزه ساخت و ساز و خدمات مرتبط است. این پیمانکاری با بیش از دو دهه فعالیت در زمینه‌های گوناگون ساختمانی و عمرانی، به یکی از برترین و قابل اعتمادترین نام‌ها در بازار گود برداری تبدیل شده است. </p>

            
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; کپی رایت <strong><span>پیمانکاری جاوید</span></strong> حق طراح محفوظ است
      </div>
      <div class="credits">
        
      طراحی شده توسط <a href="https://instagram.com/parsajavid559">پارسا جاویدی</a>
      </div>
    </div>
  </footer><!-- End Footer -->